.main {
	color: white;
	text-align: center;
	padding-top: 15px;
}

.topBar {
	background-color: grey;
}

.inquiries {
	padding-top: 10px;
}
img {
	border: 2px solid white;
	border-radius: 4px;
}

html {
	background-color: black;
	color: white;
}

a {
	color: beige;
}
