.main {
	color: white;
	text-align: center;
	padding-top: 15px;
}

.topBar {
	background-color: #404040;
	padding: 8px;
}

a {
	color: #f5f5dc;
	padding: 15px;
}

.inquiries {
	padding-top: 30px;
}

img {
	border: 2px solid white;
	border-radius: 4px;
}

html {
	background-color: black;
	color: white;
	font-family: arial;
}

a:hover {
	transition: all .2s ease-in-out;
	font-size: 110%;
	color: #ffffee;
}
